<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel ATAH</title>
  <link rel="icon" href="logo-M1kmFvH9.svg" type="image/x-icon">
  <link rel="stylesheet" href="../static/base_style.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <img src="logo-M1kmFvH9.svg">
        <a href="base.html" target="_self"><p>Travel ATAH</p></a>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="base.html" target="_self">Home</a></li>
          <li><a href="#">Discover</a></li>
          <li><a href="#">Special Deals</a></li>
          <li><a href="contact.html" target="_self">Contact</a></li>
        </ul>
      </div>
      <div class="nhap_xuat">
        <ul>
          <li><a href="login.html" target="_blank">Login</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
    </div>
   
    <div class="footer">
    <div class="content">
      <div class="diemden">
       <div class="text_diemden">
        <p>ĐIỂM ĐẾN HẤP DẪN</con
       </div>
       <div class="diem_denxx">
        <div class="diemden1">
          <ul>
            <li><a href="#">Đà Nẵng</a></li>
            <li><a href="#">Đà Lạt</a></li>
            <li><a href="#">Hội An</a></li>
          </ul>
        </div>
        <div class="diemden2">
          <ul>
            <li><a href="#">Nha Trang</a></li>
            <li><a href="#">Phú Quốc</a></li>
            <li><a href="#">Hà Nội</a></li>
          </ul>
        </div>
       </div>
        
      </div>
      <div class="vechungtoi">
        <p>VỀ CHÚNG TÔI</p>
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Liên Hệ</a></li>
          <li><a href="#">Cẩm nang du lịch</a></li>
          <li><a href="#">Khuyến mãi</a></li>
        </ul>
      </div>
      <div class="thongtincanbiet">
        <p>THÔNG TIN CẦN BIẾT</p>
        <ul>
          <li><a href="#">Điều kiện điều khoản</a></li>
          <li><a href="#">Phương thức thanh toán</a></li>
          <li><a href="#">Bảo mật thông tin</a></li>
          <li><a href="#">Chính sách quy định</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="content">
        <p>© 2024 Travel ATAH. All rights reserved.</p>
       </div>
       <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100013886888814" target="_blank"><img src="social-facebook-button-blue-icon.png"></a></li>
          <li><a href="https://x.com/cristiano" target="_blank"><img src="twitter-icon.png"></a></li>
          <li><a href="https://www.youtube.com/@VirtualWorldVietnam"  target="_blank"><img src="Youtube-icon.png"></a></li>
        </ul>
       </div>
    </div>
     
    
    </div>
  </div>
</body>
</html>