<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="logo-M1kmFvH9.svg" type="image/x-icon">
  <title>Login</title>
  <link rel="stylesheet" href="../static/login_style.css">
</head>
<body>
    <div class="login">
      <form>
        <h1>LOG IN</h1>
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
        <button>Submit</button>
      </form>
    </div>
</body>
</html>